{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'baselogin.html.twig' %}

{% block body %}


    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="https://lucette.market/">
                        <img class="align-content"  style="70%;"  src="{{asset('images/lucette.png')}}" alt="Lucette">
                    </a>
                </div>
                <div class="login-form">
                    {% for message in app.flashes('danger') %}
                        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show" role="alert">
                            <span class="badge badge-pill badge-danger">Error</span>
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_errors(form.email) }}
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr':{'class': 'form-control' }}) }}
                    </div>



                    <button type="submit" class="btn btn-info btn-flat m-b-30 m-t-30">Register</button>

                    <div class="register-link m-t-15 text-center">
                        <p><a href="{{ path('login') }}">Cancel</a></p>
                    </div>



                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>


    <script src="{{asset('vendors/jquery/dist/jquery.min.js')}}"></script>
  	<script src="{{asset('vendors/popper.js/dist/umd/popper.min.js')}}"></script>
  	<script src="{{asset('vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
  	<script src="{{asset('assets/js/main.js')}}"></script>



{% endblock %}
