{% extends 'layoutadmin.html.twig' %}

{% block title %}Lucette
{% endblock %}

{% block content %}
	<div class="breadcrumbs">
		<div class="col-sm-4">
			<div class="page-header float-left"></div>
		</div>
		<div class="col-sm-8">
			<div class="page-header float-right">
				<div class="page-title">
					<ol class="breadcrumb text-right">
						<li>
							<a href="{{ path("cms_dashboard") }}">Dashboard</a>
						</li>
						<li class="active">Car</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="content mt-3"style=" font-family: Calibri; ">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12" >


					<div class="header">
						<h4 style="text-align:center;">My cars</h4>
					</div>
					<div class="card-body">
						{% for message in app.flashes('success') %}
							<div class="sufee-alert alert with-close alert-success alert-dismissible fade show" role="alert">
								<span class="badge badge-pill badge-success">Success</span>
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						<table class="table bordered" >
							<thead style="background-color: #85A6B8; color: white;">
								<tr>
									<th>Plate Number</th>
									<th>Model</th>
									<th>Brand</th>
									<th>Category</th>
									<th>Parking Space Number</th>
									<th>
										<a href="{{ path('car_add') }}" class="btn btn-bookAService btn-sm">
											<i class="fa fa-plus mr-0"></i>&nbsp;Add
										</a>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for car in cars %}
									<tr>
										<td>{{ car.userHasCarNicknameCar }}</td>
										<td>{{ car.UserHasCarIdCar.modelCar }}</td>
										<td>{{ car.UserHasCarIdCar.brandCar }}</td>
										<td>{{ car.UserHasCarIdCar.CategoryCar }}</td>
										<td>{{ car.spaceNumber }}</td>
										<td>
											<a href="{{ path("car_edit", {'id': car.UserHasCarIdCar.id})}}" class="btn btn-info btn-sm">
												<i class="fa fa-pencil mr-0"></i>
											</a>
											<a onclick="return confirm('Do you really want to delete this car?')" href="{{ path("car_delete", {'id': car.UserHasCarIdCar.id}) }}" class="btn btn-danger btn-sm">
												<i class="fa fa-trash-o mr-0"></i>
											</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="5">No car found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .animated -->
</div>
<!-- .content --></div>
<script src="{{asset('vendors/jquery/dist/jquery.min.js')}}"></script>
<script src="{{asset('vendors/popper.js/dist/umd/popper.min.js')}}"></script>
<script src="{{asset('vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{asset('assets/js/main.js')}}"></script>{% endblock %}
