{% extends 'layoutadmin.html.twig' %}

{% block title %}Lucette
{% endblock %}


{% block content %}
	<div class="breadcrumbs"></div>
	<div class="content mt-3" style=" font-family: Calibri;">
		<div class="col-md-12">
			{% if app.user.verifyToken is not null %}
				<div class="sufee-alert alert with-close alert-warning alert-dismissible fade show" role="alert">
					<span class="badge badge-pill badge-warning">Warning</span>
					As long as your account has not been verified, you can't book a service!
					<a href="{{ path('wellness_email') }}">Send another verification email</a>
				</div>
			{% endif %}
			{% for message in app.flashes('success') %}
				<div class="sufee-alert alert with-close alert-success alert-dismissible fade show" role="alert">
					<span class="badge badge-pill badge-success">Success</span>
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="sufee-alert alert with-close alert-danger alert-dismissible fade show" role="alert">
					<span class="badge badge-pill badge-danger">Error</span>
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
			<br>
			<form action="{{ path("wellness_resumedirect") }}" method="post">
				<div class="col-md-6">
					<div class="header">
						<h4 style="text-align:center;  "><br>
						</h4>
					</div><br><br><br>
					<div class="polaroid col-md-8" style="float:none;margin:auto;">
						<button style="border:none; background-color:transparent;">
							{% if image != null %}
								<img style='border-radius: 8px; box-shadow: 10px 10px 10px 10px #cfcfcf; width:500px; height:250px; margin-bottom: 25px;' src="{{asset('uploads/parking/{{image}}')}}"/>
							{% endif %}
							<div class="container" style="text-align:center;">
								<p>
									<strong class="text-uppercase">{{currentparking.name}}
										<br>
										{{currentparking.address}}
										{{currentparking.zipcode}},
										{{currentparking.country}}
									</strong>
								</p>
							</div>
						</button>
					</div>
				</div>
				<div class="col-md-6">
					<input type="hidden" name="catproduct_id" value="{{ catproduct }}">
					<input type="hidden" name="product_id" value="{{ categoryproduct.idproduct.id }}">
					<div class="header">
						<h4 style="text-align:center; ">Availabilities<br>
							<small>
								( Please choose your date )
							</small>
						</h4>
					</div><br><br>
					<div class="card" style="border:0px; background-color:transparent;">
						<div class="card-body">
							{% for key, availability in directAvailabilities %}
								<input type="radio" name="availability" value="{{ availability.0.id }} , {{ availability.start }}" id="availability">
								<input type="hidden" id="startTime " name="startTime" value="{{ availability.start }}">&nbsp;&nbsp;
								<label for="{{ availability.0.id }}">
									{{availability.0.date|date('d-M-Y')}}
									at
									{% set start = availability.start|split(':') %}
									{% if start < 12 %}
										<strong>
											{{ availability.start}}
											am
										</strong>
									{% else %}
										<strong>
											{{ availability.start}}
											pm
										</strong>
									{% endif %}
									until
									{% set end = availability.end|split(':') %}
									{% if end < 12 %}
										<strong>
											{{ availability.end}}
											am
										</strong>
									{% else %}
										<strong>
											{{ availability.end}}
											pm
										</strong>
									{% endif %}
								</label>
								<br>
								{% for key, option in options %}
									<input type="hidden" name="val[]" value="{{ option.0.id}}">
								{% endfor %}
							{% endfor %}
							<br>
						</div>
						<div class='card-footer' style="border:0px; background-color:transparent;">
							<button style="float: right;" class="btn btn-success" id="next2" name="submit">Next</button>
						</div>
						<strong>
							<p id="msg" style="color:red;">Please choose your date
							</p>
						</strong>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="{{asset('vendors/jquery/dist/jquery.min.js')}}"></script>
	<script src="{{asset('vendors/popper.js/dist/umd/popper.min.js')}}"></script>
	<script src="{{asset('vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/bootstrap/js/dist/collapse.js')}}"></script>
	<script src="{{asset('assets/js/main.js')}}"></script>
	<script src='{{asset('assets/js/jquery-1.10.2.js')}}' type="text/javascript"></script>
	<script src='{{asset('assets/js/jquery-ui.custom.min.js')}}' type="text/javascript"></script>
	<script src='{{asset('commandeCalendar/js/moment.min.js')}}'></script>
	<script>
		jQuery(document).ready(function ($) {


$(document).on('click', '#showLocation', function () {
var parking = $(this).val()
var myurl = "/location/detail/" + parking;
window.open(myurl, 'blank');

});

$("#next2").hover(function () {
$("#msg").stop().slideDown(100);
}, function () {
$("#msg").stop().slideUp(100);
});


$("input[name='availability']").change(function () {


$("#next2").hover(function () {
$("#msg").stop().slideUp(100);
}, function () {
$("#msg").stop().slideUp(100);
});


});
});
	</script>
{% endblock %}
